* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fbfbfb; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    position: fixed;
    left: -24px;
    padding-left: 10px;
}

.logo-link {
    display: block;
    width: 15vw;
    height: 100px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: 30px;
}

.nav-links {
    display: flex;
    flex: 1;
    gap: 100px;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}


.nav-link.active {
    font-weight: bold;
}

.search-bar {
    flex: 2;
    display: flex;
    left: 210px;
    justify-content: center;
}

.search-bar input {
    width: 640px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    font-size: 16px;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-img {
    width: 65px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    cursor: pointer;
    color: #000;
    font-size: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.vertical-nav {
    width: 20%;
    background-color:  #fbfbfb;
    padding: 20px;
    position: fixed;
    top: 100px; 
    left: 0;
    bottom: 0;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.vertical-nav ul {
    list-style-type: none;
}

.vertical-nav li {
    margin-bottom: 10px;
    position: relative;
}

.vertical-nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display:flex;
    align-items: center;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.vertical-nav a:hover {
    background-color: #ddd;
}

.vertical-nav li::after {
    content: "";
    display: block;
    width: 217px;
    height: 1px;
    background-color: #333;
    opacity: 0.1;
    position: absolute;
    bottom: -10px; 
    left: -30px; 
}

.vertical-nav li:last-child::after {
    display: none; 
}

main {
    margin-left: 220px; 
    padding: 20px;
}

.filters {
    position: fixed;
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    gap: 24px;
}

.filters select, .filters button {
    width: 156px;
    height: 59px;
    font-size: 20px;
    border: 1px solid #e1dede;
    background-color: #f5f5f5;
    border-radius: 10px;
    right: 557px;
    top: 236px;

}

.filters button {
    cursor: pointer;
    background-color: #d8d5d5;
    color: black;
    border: none;
}

.recipes-title{
    position: fixed;
    position: absolute;
    left: 272px;
    top: 152px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.recipes-title img {
    width: 56px;
    height: 48px;
}

.recipes-title h2 {
    font-size: 40px;
    font-weight:bold;
}

.filters {
    position: absolute;
    left: 272px;
    top: 243px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filters img {
    width: 54px;
    height: 39px;
}

.filters select,
#filter-button {
    font-size: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    gap: 32px;
}

#filter-button {
    background-color: #d9d9d9;
    color: black;
    cursor: pointer;
    border: none;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
    margin-top: 380px;
    margin-right: 10px;
    padding: 0 20px;
}

.recipe-card {
    position: relative;
    width: 100%;
    height: 256px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 14px;
    overflow: hidden;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    height: 128px;
    object-fit: cover;
}

.recipe-info {
    padding: 15px;
}

.recipe-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe-details {
    display: flex;
    flex-direction: column;
}

.recipe-details span {
    font-size: 15px;
    color: #000;
    margin-bottom: 5px; 
    display: flex;
}

.recipe-details span img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.menu-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button img {
    width: 50px;
    height: 47px;
    flex-shrink: 0;
}

.menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.menu-option {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.menu-option:hover {
    background-color: #f5f5f5;
}
.home-title{
    position: fixed;
    position: absolute;
    left: 272px;
    top: 152px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.home-title img {
    width: 34px;
    height: 48px;
    flex-shrink: 0;
}

.home-title h2 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    font-weight: bold;
}

.sortby {
    position: fixed;
    position: absolute;
    right: 15px;
    top: 155px; 
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.sortby select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

