* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fbfbfb; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    position: fixed;
    left: -24px;
    padding-left: 10px;
}

.logo-link {
    display: block;
    width: 15vw;
    height: 100px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: 30px;
}

.nav-links {
    display: flex;
    flex: 1;
    gap: 100px;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}


.nav-link.active {
    font-weight: bold;
}

.search-bar {
    flex: 2;
    display: flex;
    left: 210px;
    justify-content: center;
}

.search-bar input {
    width: 640px;
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    font-size: 16px;
}

.user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-img {
    width: 65px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    cursor: pointer;
    color: #000;
    font-size: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

.vertical-nav {
    width: 20%;
    background-color:  #fbfbfb;
    padding: 20px;
    position: fixed;
    top: 100px; 
    left: 0;
    bottom: 0;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.vertical-nav ul {
    list-style-type: none;
}

.vertical-nav li {
    margin-bottom: 10px;
    position: relative;
}

.vertical-nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display:flex;
    align-items: center;
    padding: 10px 0;
    transition: background-color 0.3s;
}

.vertical-nav a:hover {
    background-color: #ddd;
}


.vertical-nav li::after {
    content: "";
    display: block;
    width: 217px;
    height: 1px;
    background-color: #333;
    opacity: 0.1;
    position: absolute;
    bottom: -10px; 
    left: -30px; 
}

.vertical-nav li:last-child::after {
    display: none; 
}
.recipes-title{
    position: fixed;
    position: absolute;
    left: 272px;
    top: 152px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.recipes-title img {
    width: 56px;
    height: 48px;
}

.recipes-title h2 {
    font-size: 40px;
    font-weight: bold;
}
.container {
    display: flex;
    margin-left: 30px;
    margin-top: 210px;
}
.card-container {
    flex: 1;
}
.card {
    width: 600px; /* Réduire la largeur de la carte */
    height: auto; /* Ajuster la hauteur automatiquement en fonction du contenu */
    margin-right: 20px;
    border-radius: 24px;
    border: 0px solid #E6E6E6;
    background: #FAFAF5;
    display: flex;
    flex-direction: column;
}
.card img {

    width: 100%; /* Réduire la largeur de l'image pour correspondre à la carte */
    height: auto; /* Ajuster la hauteur automatiquement en fonction de la largeur définie */
    flex-shrink: 0;
    border-radius: 24px 24px 0 0;
}

.card-footer {
    padding: 10px 20px; /* Ajuster le padding pour un espacement plus uniforme */
    background-color: #FAFAF5; /* Couleur de fond */
    border-radius: 0 0 24px 24px; /* Arrondir uniquement les coins inférieurs */
    border-top: 1px solid #E6E6E6; /* Bordure supérieure fine */
    margin-top: -10px; /* Compensation pour l'alignement avec le bas de la carte */
}

.card-footer-title {
    text-align: center; /* Centrer le titre horizontalement */
    margin-bottom: 10px; /* Espacement inférieur */
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%; /* Hauteur de ligne */
}

.card-footer-content {
    display: flex;
    flex-direction:column; /* Afficher les éléments en colonne */
    align-items: center; /* Centrer les éléments horizontalement */
    color: #666; /* Couleur de texte grise */
    font-family: Inter, sans-serif;
    width: 100%;
    font-size: 14px; /* Taille de police légèrement plus petite */
    line-height: 130%; /* Hauteur de ligne */
    margin-top: 10px; /* Espacement supérieur */
} 
.card-footer-instructions {
    display: flex;
    justify-content:center;/* Centrer le contenu horizontalement */
    gap:160px;
    font-family: Inter, sans-serif;
    font-size: 15px; /* Taille de police légèrement plus petite */
    margin-top: 10px; /* Espacement supérieur */
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
    line-height: 130%; /* 26px */
}